.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
build
.svelte-kit
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vscode/settings.json
/static/images
/static/data.sqlite3
cvr/st-louis/*.sqlite3
cvr/st-louis/data/CVRExport-8-27-2025/*
website/
