@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=fallback");


body {
  margin: 0;
  padding: 0;
  border-top: 0.3125rem solid #1d4749; /* 5px to rem */
  font-family: "Source Sans Pro", sans-serif;
  color: #555;
}

/* Layout */
.container {
  margin: 1.25rem auto; /* 20px to rem */
  max-width: 37.5rem; /* 600px to rem */
  padding: 0 0.75rem; /* 12px to rem */
}

.yearSection h2 {
  padding-right: 1.25rem; /* 20px to rem */
}

.title strong {
  display: block;
}

.row {
  margin-bottom: 3.75rem; /* 60px to rem */
}

.row:last-child {
  margin-bottom: 0;
}

@media (min-width: 68.75rem) { /* 1100px to rem */
  .container.wide {
    max-width: 62.5rem; /* 1000px to rem */
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .leftCol {
    width: 21.875rem; /* 350px to rem */
  }

  .leftCol p {
    text-align: justify;
  }

  .rightCol {
    width: 40.625rem; /* 650px to rem */
    margin-left: 2.5rem; /* 40px to rem */
  }

  .title strong {
    display: inline;
  }

  .yearSection h2 {
    padding-left: 1.875rem; /* 30px to rem */
  }
}

.rightCol :first-child,
.leftCol :first-child {
  margin-top: 0;
}

li {
  margin-bottom: 0.625rem; /* 10px to rem */
}

/* Style */
p {
  margin: 1rem 0;
  line-height: 1.4;
}

.description {
  font-size: 2rem; /* 16pt to rem */
  color: black;
}

.description h1 {
  display: inline;
  font-size: 2rem; /* 16pt to rem */
}

a {
  color: #437527;
  text-decoration: underline;
}

h2 {
  margin: 0;
  font-size: 1.75rem; /* 16pt to rem */
  color: #555555;
}

h3 {
  margin: 0;
  font-size: 1.5rem; /* 16pt to rem */
  font-weight: normal;
  color: #555555;
}

h3 a {
  font-weight: bold;
  color: black;
}

h3 strong {
  color: #437527;
}

.meta {
  color: #555555;
}

.yearSection {
  display: flex;
  margin-top: 1.375rem; /* 22px to rem */
}

.yearSection:first-child {
  margin-top: 0;
}

.rightCol .electionHeader {
  margin-bottom: 0.625rem; /* 10px to rem */
  margin-top: 1.375rem; /* 22px to rem */
  padding: 0;
}

.electionHeader:first-child {
  margin-top: 0;
}

.electionSection {
  flex: 1;
}

.race a {
  display: flex;
  color: #555555;
  padding: 0.3125rem; /* 5px to rem */
  margin: 0 -0.3125rem; /* 5px to rem */
  text-decoration: none;
}

.race a:hover {
  background: #eee;
}

.race a .meta {
  text-align: right;
  flex: 1;
}

.race a .title strong {
  color: black;
}

hr {
  border: none;
  border-bottom: 1px dotted #ddd;
}
